.mainContainer {
    margin: 10%;
}
.flexRow {
    display: flex;
    flex-direction: row;
}

.actionRow {
    display:flex;
    flex-direction: row;
    width: 50rem;
    justify-content: space-between;
}

.error {
    color: red;
}

.success {
    color: green; 
}

.button {
    padding: 0.5em;
    border-radius: 8px;
    border: 2px solid #161616;
    font-size: 15px;
}

.button:hover {
    background-color: #3e4ae7;
    border-color: #3e4ae7;
    color: white;
    transition: background-color .3s;
}

.flexColumn {
    display:flex;
    flex-direction: column;
}

.link {
    color: blue;
}

.link:hover {
    text-decoration:underline;
}

.directory {
    display:flex;
    flex-direction: column;
    height: 50rem;
    overflow-y:scroll;
    padding: 1rem;
    border: 1px solid black;
}
.companyData {
    display: flex;
    flex-direction: row;
    
}

.individualResults {
    margin-left: 5rem;
}