.mainContainer {
    margin: 10%;
}
.flexRow {
    display: flex;
    flex-direction: row;
}

@keyframes bounce {
    0%, 
    20%, 
    50%, 
    80%, 
    100% {transform: translateY(0);} 
    40% {transform: translateY(-10px);} 
    60% {transform: translateY(-5px);} 
 } 

.bounce:hover {
    animation-name: bounce;
    animation-duration: 1s;
}

.actionRow {
    display:flex;
    flex-direction: row;
    width: 50rem;
    justify-content: space-between;
}

.error {
    color: red;
}

.success {
    color: green; 
}

.button {
    padding: 0.9em;
    border-radius: 8px;
    border: 2px solid #161616;
    font-size: 15px;
    background-color: white;
}

.button:hover {
    background-color: #3e4ae7;
    border-color: #3e4ae7;
    color: white;
    transition: background-color .3s;
}

.flexColumn {
    display:flex;
    flex-direction: column;
}

.link {
    color: blue;
}

.link:hover {
    text-decoration:underline;
}

.directory {
    display:flex;
    flex-direction: column;
    height: 50rem;
    overflow-y:scroll;
    padding: 1rem;
    border: 1px solid black;
    margin-top: 2rem;
    border-radius: 8px;
    border: 2px solid #161616;
}
.companyData {
    display: flex;
    flex-direction: row;
    
}

.individualResults {
    margin-left: 5rem;
}