.mainContainer {
    margin: 10%;
}
.flexRow {
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display:flex;
    flex-direction: column;
}

.link {
    color: blue;
}

.link:hover {
    text-decoration:underline;
}

.directory {
    display:flex;
    flex-direction: column;
    height: 50rem;
    overflow-y:scroll;
    padding: 1rem;
    border: 1px solid black;
}
.companyData {
    display: flex;
    flex-direction: row;
    
}

.individualResults {
    margin-left: 5rem;
}